VITE_API_URL=http://localhost:8000
VITE_TILES_URL=http://localhost:8000
VITE_BASEMAP_STYLE=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
VITE_BASEMAP_SATELLITE_URL=https://maps.wien.gv.at/basemap/bmaporthofoto30cm/normal/google3857/{z}/{y}/{x}.jpeg
VITE_BASEMAP_SATELLITE_MAXZOOM=19
