POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=insar
POSTGRES_USER=insar
POSTGRES_PASSWORD=insar
PMTILES_DIR=../data/pmtiles
NOMINATIM_ENABLED=true
NOMINATIM_URL=https://nominatim.openstreetmap.org/search
NOMINATIM_USER_AGENT=salzburg-insar-viewer/0.1 (contact: admin@example.invalid)
NOMINATIM_MIN_INTERVAL_S=1.0
NOMINATIM_TIMEOUT_S=5.0
